.details__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list__elem span {
	color: brown;
	font-weight: 900;
}

.pageContentWrapper {
	display: flex;
}

.sitebar {
	flex: 0 1 15%;
	border-right: 1px solid#000;
	padding: 20px;
}

.pageContent__li {
	margin-bottom: 15px;
}

.mainBlock {
	padding: 0 0 0 30px;
	flex: 0 1 85%;
	margin-top: 30px;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loader::before {
	content: "";
	width: 50px;
	height: 50px;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}